body{
  background-image: url('../images/wallo5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.sec-header h3 {
  font-size: 36px;
  color: #16BBB6 ;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  position: relative;
  padding-bottom: 20px;
  font-family:bignoodletitling;
}

.sec-header h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
.item :hover{
  opacity :1.0;
}
.sec-header h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 160px;
  height: 3px;
  background: blue;
  bottom: 0;
  left: calc(50% - 80px);
}
.sec-header p {
  text-align: center;
  padding-bottom: 30px;
  color: #fff;
}


#about .nav_links button:hover {

  background-color: #fff; /* Green */
  color: #087dd1;
}
li, a {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	color: #edf0f1;
	text-decoration: none:

}

.nav_links{
	list-style: none;

}

.nav_links li {
	display: inline-block;
	padding: 0px 20px;

}

.nav_links li:nth-child(1) {
	padding: 0 20px 0 0;
}

.nav_links li a {
	transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
	color: #0088a9;
}
#about img{
	width:400px;
	height:200px;
	float:left;
	margin-right: 20px;
	margin-bottom: 10px;
}
p{

	text-align: justify;
	font-family: "Open Sans";
	color: #fff;
}

h7{
	font-family: "bignoodletitling";
	color:  #16BBB6 ;
	font-size: .9cm;
}

#alumni img{
	width:550px;
	height:250px;
	float:center;
	margin-right: 25px;
	margin-bottom: 15px;

}





.photo-gallery {
  color:white;
  //background-color:#fff;
}

.photo-gallery p {
  color:white;
}

.photo-gallery h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:white;
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:100%;
  }
}

.photo-gallery .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom:0;
}

.photo-gallery .photos {
 padding-bottom:20px;
}

.photo-gallery .item {
  padding-bottom:30px;
 }

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
