@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css?family=Inknut Antiqua');
 body{
  background-image:url('../images/hey2.jpg');
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center center ;
    background-repeat: no-repeat;
    background-size: cover;
    
}
 
 .hll{
  margin-top:-80px;
  margin-bottom: -50px;
  padding-bottom: 50px;
}

.hdd{
 font-family: 'Inknut Antiqua';
 font-size:30px;
  color :white ;
  text-decoration: underline #91dff2;
  }

 .row-main{
  width:80%;
  margin:40px 10%;
}
.text{
  overflow: hidden;
  position: relative;
}
.text img{
  width: 90%;

}
.text:hover img{
  transform: scale(1.0);
}

.text img{
  transition: all 0.4s ease 0s;
}

@media (max-width: 300px){
  .text img{
    display: inline-block;
  
}
}
.text .sector{
  background-color: rgba(153, 102, 255,0.5);
  position: absolute;
  text-align:  center;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity:0;
  transition: 0.5s;
  transform: rotateY(360deg) scale(0.5, 0.5);

}

.text .sector ul{
  text-align: center;
  position: relative;
  top :160px;
  padding:
}

/*.text .sector ul li  {
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  height: 30px;
  width: 40px;
  
  text-align: center;
  
}*/


.card{
  width:100%;
  height:500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.text:hover .sector{
  cursor: pointer;
  opacity: 1;
  transform: rotateY(0deg) scale(1,1);
}

.cardimage{
  width:90%;
  height: 300px;
  margin: 20px 5%;
  border-radius:5%;
  cursor: pointer;
  background: rgb(1, 75, 88);
  border:2px solid rgb(0, 7, 10);
  }
 .name{
  color:#28283e;
}

 .fap{
  color:#fff ;
}

 /*.row-ul {
  list-style: none;
  margin: 0px;
  padding: 0  0 0 0px;
}
 .row-ul a{
  display: inline;
  text-decoration: none;
  padding:7px 17px;
}*/

@media(max-width:769px){
  .row-main{
    width:100%;
    margin:0px;
  }
  .nn{
    max-width: 100%;
    height: auto;
    
    background-size: cover;
  }
  .card{
    margin-bottom: 20px;
  }
  .cardimage{
    width: 90%;
    margin: 20px 5%;
    height:270px;
  }
  .hll{
    margin-top: -30px;
  }
  .hdd{
    padding-top:30px;
  }
  }
html ,body{

  box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;

   }
   html
body{
 overflow-y:hidden;
}

p {
    font-family: "'Inknut Antiqua'";
    font-size: 20px;
    color: #000;
}
h2{
  color: #fff;

}

*, *:before, *:after {
  box-sizing: inherit;
}
i {
    color: #fff;
    font-size:16px;

}

/*img:hover {
    opacity:1;
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) 
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}​*/

button:hover, a:hover {
    opacity: 0.7;
}